body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.qrcode {
  border-radius: 10px;
  width: 100%;
}

.card {
  text-align: center;
  width: 250px;
  margin: 30px auto;
  padding: 25px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p {
  color: hsl(220, 15%, 55%);
}
